<!DOCTYPE html>
<html lang="en">
<div th:include="~{/stable/head.html}"></div>
<body>
<div th:include="~{/stable/navbar.html}"></div>
<body>
    <div class="container">
        <form class="mt-3" style="width: 45%; margin: 0 auto;" th:action="@{'/main/addAppl'}" method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label  class="form-label">Course</label>
                <select class="form-select" aria-label="Default select example" name="course" >
                    <option value="Java">Java</option>
                    <option value="Web">Web</option>
                    <option value="Python">Python</option>
                    <option value="Javascript">Javascript</option>
                </select>
            </div>
            <div class="mb-3">
                <label  class="form-label">Mobile Phone</label>
                <input type="tel" class="form-control"  name="phone" placeholder="+12223334455">
            </div>
            <div class="mb-3">
                <label  class="form-label">Comment</label>
                <textarea type="text" class="form-control" name="comment" placeholder="Comment"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Add Application</button>
        </form>
    </div>
</body>
</html>